// principles
body
  font-size 62.5%
// device distinction
@media handheld
  med = 1
@media screen
  med = 2
@media tv
  med = 3
@media projection
  med = 3.5
@media print
  med = 0

// elevation
.l1
  box-shadow 2px 2px 2px rgba(0,0,0,0.2)
// animation

// color schemes

// positioning